.grid-master {

  display: grid;
  column-gap: 10px;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  /* TODO: DELETE grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  height: 90vh;
  width: 100vw;
}
.grid-sumary {
  display: grid;
  background: #13D3D3;
  margin-left: 1.5rem;
  border-radius: 1rem;
  height: 100%;
  grid-template-columns:  auto;
  grid-template-rows:  35% auto auto auto auto auto auto auto auto;
  row-gap: 10px;
  align-content: center;
}
.grid-sumary > div {

  background: #D3D3D3;
  margin-left: .5rem;
  margin-right: .5rem;
  border-radius: 1rem;
}

.grid-sumary-data {

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 8;

}
.grid-sumary-data-photo {

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;

}


.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}


.grid-content {
  display: grid;
  background: #13D3D3;
  margin-right: 1.5rem;
  border-radius: 1rem;
  height: 100%;
  grid-template-columns: repeat(4, 25% [col-start]);
  grid-template-rows: 10% 70% auto;

  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";

  row-gap: 10px;
  align-content: center;
}

.grid-content > div {

  background: #D3D3D3;
  margin-left: .5rem;
  margin-right: .5rem;
  border-radius: 1rem;
}

body {
  margin: 0px;
  font: 12px system-ui;
}

.container_menu_bar {
  display: inline-grid;
  /* TODO: add menu content */
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 0rem;
}
